/* Custom styles to complement Bootstrap */

body {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.nav2 {
    background-color: #165366;
}

a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#LN {
    color: black;
    text-decoration: none;
}


h2, h3, h4, h5, h6, .navbar-brand {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Ensure footer sticks to bottom if content is short */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Optional: Custom scrollbar or other global tweaks can go here */
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

